table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color: #000;
    color: #fff;
    /* color: white; */
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    background-color:#fff;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}